*{
  margin: 0;
  padding: 0;
  
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --body-bg: #577F9F;
  
}
body, .header-page {
  /* background-image: linear-gradient(to right, rgb(87 131 190 / 80%), var(--body-bg));  */
  font-family: 'Roboto', sans-serif;
}

